li.sidebarActive a .sidebar-title {
    color: var(--threed-color);
}
#combobox{
    display: none;
    position: sticky;
    top: 130px;
    min-height: 320px;
}
#sidebar {
    border-radius: 5px;
    margin-top: 2rem;
    min-width: 250px;
    width: 350px;
    min-height: calc(100vh - 90px);
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}
#sidebar ul {
    position: sticky;
    top: 100px;
}

#sidebar li {
    border-bottom: 1px solid #828ca51f;
}

#sidebar li a {
    color: #828ca5;
}

#sidebar li a:hover {
    color: #177ee5e1;
}

.allVideos {
    padding: 0;
    width: 112px;
    font-weight: 600;
    color: var(--threed-color);
    font-size: 16px;
}

#allVideos {
    width: 100%;
    background-color: var(--main-color);
}

#videos-text-container,
#videos-container {
    width: 100%;
}

/* #videos-text-container,
#videos-container {
    height: 300px;
} */


.videos-section {
    min-height: calc(100vh - 90px);
    min-width: 320px;
    max-width: calc(100% - 350px);
    background-color: var(--main-color);
    padding-right: 0;
    padding-top: 1rem;
    position: relative;
    left: 5px;
}

.circleIcon {
    font-size: 0.5rem;
    position: relative;
    bottom: 0.1rem;
}

@media (max-width: 1399.98px) {
    /* #videos-text-container,
    #videos-container {
        height: 500px;
    } */
}

@media (max-width: 1199.98px) {
    #sidebar {
        width: 250px;
    }

    .videos-section {
        max-width: initial;
    }

    .sidebar {
        position: absolute;
        top: 80px;
    }

}

@media (max-width: 991.98px) {
    /* .main-cont {
        min-width: 100%;
    } */
    .allVideos-container {
        min-width: 750px;
    }

    .videos-section {
        position: relative;
        left: 5px;
        /* padding-left: 1rem; */
        margin-top: 0rem;
    }
}

@media (max-width: 767.98px) {
    .allVideos-container {
        min-width: 100%;
    }
    #sidebar {
        min-width:100%
    }
    #sidebar ul {
      display: none;
    }
    #combobox{
        display: block;
    }
}
