.sidebarActive {
    border-left: 5px solid var(--threed-color);
    background-color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.sidebar {
    background-color: var(--second-color);
    box-shadow: rgb(130 140 165 / 10%) 0px 2px 0px 0px inset;
    position: fixed;
    top: 90px;
    height: 100vh;
}
.sidebar li a:hover {
    border-left: 5px solid var(--threed-color);
    background-color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.videos-section {
    position: absolute;
    right: 0;
    top: 90px;
    min-height: calc(100vh - 90px);
    background-color: var(--main-color);
}
.allVideos {
    padding: 0;
    width: 112px;
    font-weight: 600;
    color: var(--threed-color);
    font-size: 16px;
}

@media (max-width: 1199.98px) {
.allVideos{
    padding-left:8px;
}
}