.sidebarActive {
    border-left: 5px solid var(--threed-color);
    background-color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.141) 0px 3px 5px;
    padding-left: 5px;
}

/* .sidebar {
    background-color: var(--second-color);
    box-shadow: rgb(130 140 165 / 10%) 0px 2px 0px 0px inset;
    position: relative;
    top: 90px;
    height: 100vh;
    width: 400px;
} */

#sidebar li a:hover {
    background-color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.141) 0px 3px 5px;
}

.allVideos {
    padding: 0;
    width: 112px;
    font-weight: 600;
    color: var(--threed-color);
    font-size: 16px;
}

#videos-container {
    width: 100%;
    height: 100%;
}

#sidebar {
    min-width: 400px;
    min-height: calc(100vh - 90px);
}
.video-cont {
    height: 210px;
}
.main-cont {
    display: flex;
    flex-direction: row;
}

.videos-section {
    min-height: calc(100vh - 90px);
    min-width: 320px;
    max-width: calc(100% - 400px);
    background-color: var(--main-color);
    background-color: var(--main-color);
}

@media (max-width: 1380.98px) {
    .video-cont {
        height: 180px;
    }
}
@media (max-width: 1199.98px) {
    .sidebar {
        position: absolute;
        top: 80px;
    }
    .video-cont {
        height: 230px;
    }
    .allVideos {
        padding-left: 8px;
    }
    
}

@media (max-width: 991.98px) {
    .video-cont {
        height: 300px;
    }
}

@media (max-width: 719.98px) {
    .videos-section {
        min-width: 100%;
        display: grid;
    }
    #sidebar {
        width: 100%;
    }
    .video-cont {
        height: 400px;
    }
}
@media (max-width: 424.98px) {
    .video-cont {
        height: 250px;
    }
}
