@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;300;600&display=swap');

.navActive {
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;   
    z-index: 99999;
    height: 90px;
    min-height: 60px;
    z-index: 9999999;
    background-color: var(--second-color);  
    width: 100%;
    transition: height 0.2s, box-shadow 0.2s;
    align-items: center;
    box-shadow: 0 0 28px rgb(130 140 165 / 10%);
}
.nav {
    transition: height 0.2s, box-shadow 0.2s;
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;   
    z-index: 9999d;
    height: 104px;
    min-height: 70px;
    z-index: 999;
    background-color: var(--main-color);  
    margin: 0 auto;
}
.nav__container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.navbar>.container-fluid {
    width: 1103px;
}
.nav-shadow{
    border-bottom: 1px solid  rgba(128, 128, 128, 0.111);
}
.logo{
    padding:0 23px 0 0;
    position: relative;
    top: 6px;
}
.logo img {
    height: 70px;
    width: 70px;
}

.navbar-spaces {
    width: 252px;
}
/* .active {
    font-weight: bold;
} */

Nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    position: relative;
    top:7px;
    margin: 0;
}

Nav li {
    cursor: pointer;
    align-items: center;
    margin: 0 12px;
    display: flex;
    align-items: center;
    width: 100px;
}
Nav li:last-child{
    padding: 0;
    width: 130px;
}
Nav li a{
    font-size: 14px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    /* color: var(--threed-color); */
    height: auto;
}
/* Navli:hover {
    text-decoration: underline;
} */
a {
    color: var(--black-color);
    text-decoration:none;
}

.position-before {
    position: sticky;
    top: 15px;
}
#menu-icon-div{
    border: none;
    padding: 0 2rem;
    font-size: 1.5rem;
}
#allQuestionsBtn,
#make {
    position: relative;
    bottom: 1rem;
    padding: 0.3rem 0.9rem;
    /* margin-left: 0.9rem; */
}
button:focus:not(:focus-visible) {
    outline: 0;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow:none;
}
.offcanvas ul li a {
    cursor: pointer;
}

.dot-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: blueviolet;
    position: absolute;
    right: 0;
    top: 4.85rem;
    background-color: #fff;
}
#make,
#dotMake{
    height: 50px;
    width: 170px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center
;}
#dotMake {
    margin: 0;

}
.setting-icon {
    display: flex;
    position: absolute;
    top: calc(50% - 28px);
    right: 3rem;
    z-index: 99999;
    flex-direction: column;
    height: 54px;
    width: 10px;
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--black-color);
    cursor: pointer;
    transform: 0.2s ease;
    align-items: center;
    transition: 0.3s ease;
    transform: rotateZ(0deg);
}
.closeButton {
    transform: rotateZ(45deg);
    color: var(--black-color);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
}
.rotate-dot{
    transition: 0.3s ease;
    transform: rotateZ(-45deg);
}
#setting-icon-item-0 {
    position: absolute;
    top: -7px;
}
#setting-icon-item-1 {
position: absolute;
top: 7px;
}
#setting-icon-item-2 {
position: absolute;
top: 0px;
}
.menu-icon {
    cursor: pointer;
}
.nav-link {
    color: var(--black-color);
}
.nav-link:hover,
.active:hover {
    color: var(--threed-color);
}
.navbar-nav .nav-link.active {
    color: var(--threed-color);
    font-weight: 500;


}

@media (max-width: 1199.98px) {
    nav{
        width: 100%;
    }
    .logo{
        display: flex;
        position: absolute;
        left: calc(50% - 30px);
        top: calc(50% - 27px);
    }
    .logo img {
        height: 70px;
        width: 70px;
    }
    .navActive{
        height: 80px;
    }
    #menu-icon-div{
        position: absolute;
        top: calc(50% - 5px);
        display: flex;
        justify-content: flex-start;
    }
    .offcanvas{
        box-shadow: rgb(130 140 165 / 10%) 0px 2px 0px 0px inset;
        background-color: #fff;
    }
    .offcanvas.offcanvas-end {
        width: 300px;
        top: 79.8px;
        left: 0;
        transform: translateX(-300px);
    }
    .offcanvas ul  { 
        position: relative;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 999;
        
    }
    .offcanvas ul li { 
        list-style: none;
        color: var(--black-color);
        font-weight: 400;
        border-bottom: 1px solid #e5e5e5 ;
    }
    .offcanvas ul li a {
        font-size: 20.44px;
        font-weight: 400;
        /* color: var(--threed-color); */
        width: 100%;
        padding: 14px 30px;
        
    }
    .offcanvas-body {
        padding: 0;
        overflow-y: auto;
        flex-grow: 1;
        z-index: 99;
        box-shadow: rgb(130 140 165 / 10%) 0px 0px 12px;
    }
    .offcanvas-backdrop {
        display: none;
    }
    /* .offcanvas-backdrop.show {
        display: none;
    } */
    #make {
        display: none;
    }
    .offcanvas ul li:last-child{
        visibility: hidden;
    }
}
